
TurismoReal/bin/Debug/net5.0/ref/TurismoReal.dll
TurismoReal/bin/Debug/net5.0/TurismoReal.dll
TurismoReal/bin/Debug/net5.0/TurismoReal.pdb
TurismoReal/obj/Debug/net5.0/ref/TurismoReal.dll
TurismoReal/obj/Debug/net5.0/TurismoReal.assets.cache
TurismoReal/obj/Debug/net5.0/TurismoReal.csproj.AssemblyReference.cache
TurismoReal/obj/Debug/net5.0/TurismoReal.csproj.CoreCompileInputs.cache
TurismoReal/obj/Debug/net5.0/TurismoReal.csproj.FileListAbsolute.txt
TurismoReal/obj/Debug/net5.0/TurismoReal.dll
TurismoReal/obj/Debug/net5.0/TurismoReal.GeneratedMSBuildEditorConfig.editorconfig
TurismoReal/obj/Debug/net5.0/TurismoReal.genruntimeconfig.cache
TurismoReal/obj/Debug/net5.0/TurismoReal.pdb
TurismoReal/obj/project.nuget.cache
TurismoReal/obj/TurismoReal.csproj.nuget.dgspec.json
